<div class="row">
  <% @following.each do |user| %>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <%= render("user_card_header", user: user)  %>
        <div class="card-body">
          <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
          <p class="card-text"><strong>Telefone:</strong> <%= user.phone %></p>
        </div>
        <div class="card-footer">
          <%= button_to "Deixar de Seguir", user_unfollow_path(user), method: :post, class: "btn  btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
